DrawCursor/DCXML/DCConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DCConfiguration" nillable="true" type="DCConfiguration" />
  <xs:complexType name="DCConfiguration">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Default" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="MarkerSize" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="MarkerColor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>